/* Body Styling */
body {
    text-align: center;
    font-family: "Verdana", Geneva, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9; /* Subtle background for better readability */
    color: #333;
}

/* Header Container Styling */
.header-container {
    display: flex;
    align-items: center;
    background-color: rgb(200, 200, 200);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px; /* Rounded edges for a cleaner design */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* header img positioning */
.header-container img {
    margin-right: 50px;
}
/* Date Tie positioning */
#datetime {
    font-size: 12px;
    margin-left: 50px;
}
/* h1 Styling */
h1 {
    text-align: center;
    font-family: "Arial", Geneva, sans-serif;
    font-weight: normal;
    margin: 0;
}

/* Form Container Styling */
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Form Group Styling */
.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
/* Label Styling */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* General Styling for Text Inputs, Date Inputs, Password Inputs, and Select Menus */
input[type="text"],
input[type="date"],
input[type="password"],
select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Styles for range input (slider) */
input[type="range"] {
    width: 100%;
}
/*Field Set Styling*/
fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}
/*Legend Styling*/
legend {
    font-weight: bold;
    padding: 0 10px;
}

/* Button Styling */
button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
/*Button Position*/
button[type="submit"] {
    margin-right: 20px;
}

/*Button hover*/

button:hover {
    background-color: #2f2f2f;
} 
